---
import { Icon } from "astro-icon";
import ArticleProjectCarousel from "./ArticleProjectCarousel.astro";
import ArticleProjectImage from "./ArticleProjectImage.astro";
import ArticleProjectTechnology from "./ArticleProjectTechnology.astro";
const { title="", description="", bg_color="", text_color="", images = [], technologies = []} =
  Astro.props;

// console.log("********** inicio technologies ******************");
// console.log(technologies);
// console.log("*********** fin technologies *****************");
---

<article
  class=`bg-${bg_color} md:grid md:grid-rows-[1fr_min-content] md:grid-cols-[2fr_3fr] rounded-lg p-6 gap-4 my-6`
>
  <!-- Title and description -->
  <div class=`flex flex-col justify-center h-full text-${text_color}`>
    <h3
      class="text-1xl font-extrabold leading-none tracking-tight md:text-2xl lg:text-3xl"
    >
      {title}
    </h3>
    <p class="mt-2 text-1xl text-balance">
      {description}
    </p>
  </div>
  {
    images.length > 1 ? (
      <ArticleProjectCarousel images={images} />
    ) : (
      <ArticleProjectImage image={images[0]} />
    )
  }

  <!-- Icons -->
  <div
    class="flex gap-2 items-center justify-center lg:justify-between flex-wrap p-0 m-0"
  >
    <!-- <div class="flex gap-1 pb-1.5 items-center">       -->
      {
        technologies?.map((technology) => (
          <ArticleProjectTechnology technology={technology} />
        ))
      }
    <!-- </div> -->
  </div>
</article>
