---

import { Image } from "astro:assets";
import { Icon } from 'astro-icon';

const { title, measure, subtitle, description, icon } = Astro.props;

const pathSvg = `/src/icons/${icon}.svg`;
---
<!-- <Icon name="/src/icons/math-greater.svg"/> -->
<article
  class="p-4 max-w-xs border border-df-yellow text-df-text hover:bg-df-yellow hover:text-df-background transition-all duration-700 group"
>
  <!-- <p>
  <img src={pathSvg} class="h-8" alt="Flowbite Logo" /> 
  
</p> -->
  <!-- <Image src={pathSvg} /> -->
  <Icon name="major" class="min-w-200 min-h-200 fill-blue"/>


  <h2 class="font-bold tracking-tight">{title}</h2>

  <div class="grid grid-rows-2 grid-cols-[min-content_1fr]">
    <!-- {
      icon ? (
        <div class="flex justify-end items-center p-0 m-0">
          <Icon icon={icon} />
        </div>
      ) : (<div>
        </div>
      )
    }     -->
    
      <!-- <img class="stroke-df-text transition-all p-0 m-0" src={pathSvg}/>  -->
      <!-- <Image class="hover:text-df-text text-blue-500 p-0 m-0 stroke-cyan-500" src={pathSvg} alt="texto descriptivo" width="32"
      height="32" pictureAttributes={{style: "background-color: red;"}}  /> -->
      <!-- <Picture src={pathSvg} alt="Una descripción de mi imagen." pictureAttributes={{style: "background-color: red;"}} /> -->
      <div>
aaaaaa
        <Icon name="major" class="min-w-200 min-h-200 fill-blue border"/>
      </div>
    
    <div class="text-3xl p-0 m-0">{measure}</div>
    <div class="mt-0 pt-0"></div>
    <div class="m-0 p-0 leading-none font-semibold">{subtitle}</div>
  </div>
  <p class="text-balance text-sm mt-1">
    {description}
  </p>
</article>

<style>
  img :global(img), svg {
    margin-block: 2.5rem;
    border-radius: 0.75rem;

  }
</style>

