---
import { Icon } from "astro-icon";

const { title, measure, subtitle, description, icon } = Astro.props;

const pathSvg = `/src/icons/${icon}.svg`;
---

<article
  class="p-4 max-w-xs border border-df-yellow text-df-text hover:bg-df-yellow hover:text-df-background transition-all duration-700 group"
>
  <h2 class="font-bold tracking-tight">{title}</h2>

  <div
    class="grid grid-rows-[min-content_min-content] grid-cols-[min-content_1fr]"
  >
    {
      icon ? (
        <div class="flex justify-end items-center p-0 m-0 w-10 h-10 text-3xl leading-none">
          <Icon name={icon} class="leading-none p-0 m-0" />
        </div>
      ) : (
        <div>
        </div>
      )
    }

    <div class="text-3xl p-0 m-0">{measure}</div>
    <div class="mt-0 pt-0"></div>
    <div class="m-0 p-0 leading-none font-semibold">{subtitle}</div>
  </div>
  <p class="text-balance text-sm mt-5">
    {description}
  </p>
</article>

<!-- <style>
  img :global(img),
  svg {
    margin-block: 2.5rem;
    border-radius: 0.75rem;
  }
</style> -->
