---
import ArticleProjectCarousel from "./ArticleProjectCarousel.astro";
import ArticleProjectImage from "./ArticleProjectImage.astro";
import ArticleProjectTechnology from "./ArticleProjectTechnology.astro";
const {
  title = "",
  description = "",
  bg_color = "",
  text_color = "",
  images = [],
  technologies = [],
} = Astro.props;

const card_color = {
  dfTitle: "bg-dfTitle md:grid md:grid-rows-[1fr_min-content] md:grid-cols-[2fr_3fr] rounded-lg p-6 gap-4 my-6",
  dfBackground: "bg-dfBackground md:grid md:grid-rows-[1fr_min-content] md:grid-cols-[2fr_3fr] rounded-lg p-6 gap-4 my-6",
  dfYellowdark: "bg-dfYellow-dark md:grid md:grid-rows-[1fr_min-content] md:grid-cols-[2fr_3fr] rounded-lg p-6 gap-4 my-6",
  dfBgSection: "bg-dfBgSection md:grid md:grid-rows-[1fr_min-content] md:grid-cols-[2fr_3fr] rounded-lg p-6 gap-4 my-6",
}
---

<article class={card_color[bg_color] as string}>
  <!-- Title and description -->
  <div class=`flex flex-col justify-center h-full text-${text_color}`>
    <h3
      class="text-1xl font-extrabold leading-none tracking-tight md:text-2xl lg:text-3xl"
    >
      {title}
    </h3>
    <p class="mt-2 text-1xl text-balance">
      {description}
    </p>
  </div>
  {
    images.length > 1 ? (
      <ArticleProjectCarousel images={images} />
    ) : (
      <ArticleProjectImage image={images[0]} />
    )
  }

  <!-- Icons -->
  <div
    class=`flex gap-2 items-center justify-center lg:justify-between flex-wrap p-0 m-0 text-${text_color}`
  >
    {
      technologies?.map((technology: any) => (
        <ArticleProjectTechnology technology={technology} />
      ))
    }
  </div>
</article>
